estilo.css
#estilo.css> img
* {
    font-family: Arial;
    color:rgb(224, 69, 22)
    <text-aling: center;

}
  img[
    border-radius: 50%;
    width= 150px;
    height="auto"
  ]
  datos {
    
  }
   
    
